@use "./Hangman";
@use "./Keyboard";
@use "./Word";

.hang{
    max-width: 800px;
    display:flex;
    flex-direction: column;
    
    gap:2rem;
    margin: 0 auto;
    align-items: center;
    .text{
        font-size: 2rem;
        text-align: center;
        color: black;
    }
}